langchain==0.1.2
sentence-transformers==2.2.2
aiohappyeyeballs
aiohttp
aiosignal
altair
anyio
async-timeout
attrs
backcall
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
dataclasses-json
debugpy
decorator
entrypoints
exceptiongroup
executing
faiss-cpu
filelock
fonttools
frozenlist
fsspec
gensim
gitdb
GitPython
greenlet
huggingface-hub
idna
importlib_metadata
importlib_resources
InstructorEmbedding
ipykernel
ipython
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
langchain-community
langchain-core
langsmith
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mpmath
multidict
mypy-extensions
nest_asyncio
networkx
nltk
numexpr
numpy
openai
openapi-schema-pydantic
packaging
pandas
parso
pickleshare
pillow
pkgutil_resolve_name
platformdirs
plotly
prompt_toolkit
protobuf
psutil
pure_eval
pyarrow
pydantic
pydeck
Pygments
Pympler
pyparsing
PyPDF2
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
referencing
regex
requests
rich
rpds-py
safetensors
scikit-learn
scipy
semver
sentencepiece
six
smart-open
smmap
sniffio
SQLAlchemy
stack-data
streamlit
streamlit-chat
streamlit-lottie
streamlit-option-menu
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
toolz
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typing-inspect
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
wrapt
yarl
zipp
